<html>
   <body>
      <H1>Hello, <%= name %></H1>
      <H2>Restaurants</H2>
	<a href ="/new">
      	  <button class = "btn btn-lg btn-primary btn-block""> Create New Restaurant</button>
	</a>
	<br>
      <a href='/logout'>Logout</a>
   </body>
</html>
