<html>
    <body>
        <form action="create" method="POST" enctype="multipart/form-data">
            	Name: <input name="name"/><br>
		borough: <input name="borough"/><br>
             	Cuisine: <input name="cuisine">/><br>
		Street: <input name="street"/><br>
		Building: <input name="building"/><br>
		Zipcode: <input name="zipcode"/><br>
		GPS Coordinates (lat.): <input name="gpslat"/><br>
		GPS Coordinates (lon.): <input name="gpslon"/><br>
            <input type="file" name="filetoupload"/><br>
            <input type="hidden" name="_id"/>
            <input type="submit" value="update"/>
        </form>
    </body>
</html>
