<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BasicAuth">
  <meta name="author" content="siddub">

    <title>Sign In</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container pt-5">
	<p>Use the following IDs and Password:</p>
	<ol>
		<li>demo (password: )</li>
	</ol>
</div>
<hr>
<div class="container">
	<form class="login-form" method="POST" action="/login"  >
		<h2 class="form-heading">Sign In</h2>
		<input name="username" type="text" class="form-control" placeholder="Username" autofocus="true"/>
		<input name="password" type="password" class="form-control" placeholder="Password" />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
		<a href="/register" class="btn btn-light" role="button">Sign Up</a>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:50%
}
</style>

</body>
</html>
