<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BasicAuth">
  <meta name="author" content="siddub">

    <title>Main</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Welcome, <%= name %></p>
    </div>
    <div class="col">
      <a href='/logout'>Logout</a>
    </div>
  </div>
</div>
<div class="container">
	<h1>Restaurants</h1>
  <div class="text-center">
     <form class="form-inline" action="/search" method="POST" enctype="multipart/form-data">
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon select-input">
             <select class="form-control" id="filter" name="filter">
               <option selected>All</option>
               <option value="name">Name</option>
               <option value="borough">Borough</option>
               <option value="cuisine">Cuisine</option>
               <option value="grade">Grade</option>
             </select>
           </div>
           <input type="text" class="form-control" placeholder="Search" name="name">
           <span class="input-group-btn">
             <button class="btn btn-md btn-primary" type="submit">Submit</button>
           </span>
         </div>
       </div>
     </form>
   </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<style>
input{
  margin-bottom: 15px
}
h1, h2{
  text-align: center
}
.container{
  width:50%
}
.input-group-addon.select-input {
  width: 20%;
  padding: 0;
}

.input-group-addon.select-input select {
  border: none;
  height: 32px;
}

.input-group-addon.select-input button {
  border: none;
  height: 32px;
}

</style>

</body>
</html>
